
.abel {
    font-family: 'Abel', sans-serif;
}

.amaranth {
    font-family: 'Amaranth', sans-serif;
}

.armata {
    font-family: 'Armata', sans-serif;
}

.asap {
    font-family: 'Asap', sans-serif;
}

.cabin {
    font-family: 'Cabin', sans-serif;
}

.dosis {
    font-family: 'Dosis', sans-serif;
}

.droid-sans {
    font-family: 'Droid Sans', sans-serif;
}

.ropa-sans {
    font-family: 'Ropa Sans', sans-serif;
}

.source-sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}

.gudea {
    font-family: 'Gudea', sans-serif;
}

.alegreya {
    font-family: 'Alegreya', serif;
}

.droid-serif {
    font-family: 'Droid Serif', serif;
}

.lora {
    font-family: 'Lora', serif;
}

.glegoo {
    font-family: 'Glegoo', serif;
}

.noticia-text {
    font-family: 'Noticia Text', serif;
}

.poly {
    font-family: 'Poly', serif;
}

.rokkitt {
    font-family: 'Rokkitt', serif;
}