.section {
    margin: 0 auto;
    width: 66%;
    padding: 250px 0 250px 0;
}

#list {
    .abel-section {
        background-color: #0D4E85;
        .abel {
            color: #f6f7f8;
            a {
                color: #f6f7f8;
                font-size: 11.3vw;
                text-transform: uppercase;
            }
        }
    }
    .amaranth-section {
        background-color: #f8f8f8;
        .amaranth {
            a {
                color: #6B6A6A;
                font-size: 3vw;
                font-weight: 700;
                text-transform: capitalize;
            }
            h3 {
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 50px;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                span {
                    font-weight: 700;
                }
            }
        }
    }
    .armata-section {
        background-color: floralwhite;
        .armata {
            text-align: justify;
            a {
                color: inherit;
            }
            h2 {
                color: #363535;
                font-size: 3vw;
                text-transform: uppercase;
            }
            div {
                width: 65%;
                border: 1px solid black;
            }
            strong {
                color: black;
            }
        }
    }
    .asap-cabin-section {
        background: linear-gradient(90deg, #483d8b, #ff6347);
        .asap h1,
        .cabin h1 {
            font-size: 11vw;
            color: #fff;
            font-weight: 400;
        }
        .info {
            font-size: 12px;
            color: #f8f8f8;
        }
    }
    .dosis-section {
        background-color: #fff;
        .dosis {
            h1,
            h2 {
                text-transform: uppercase;
                color: deepskyblue;
                font-size: 10vw;
                letter-spacing: 10px;
                font-weight: 100;
            }
        }
    }
    .dosis-sans-section {
        background-color: deepskyblue;
        .dosis-sans {
            a {
                text-transform: uppercase;
                color: #fff;
                letter-spacing: 10px;
                h1 {
                    font-size: 10vw;
                }
                h2 {
                    font-size: 8vw;
                }
            }
        }
    }
    .ropa-sans-section {
        background-color: #fff;
        .ropa-sans {
            padding: 120px 0 120px 0;
            a {
                color: #5D607F;
                h2 {
                    text-align: center;
                    font-size: 10vw;
                }
                h4 {
                    text-align: center;
                    font-size: 5vw;
                    &:before {
                        margin-top: 3%;
                        margin-left: -19%;
                        position: absolute;
                        content: " ";
                        height: 1px;
                        width: 18%;
                        background-color: #D6E1E5;
                    }
                    &:after {
                        position: absolute;
                        content: " ";
                        height: 1px;
                        width: 18%;
                        margin-top: 3%;
                        margin-left: 10px;
                        background-color: #D6E1E5;
                    }
                }
            }
            .section-text {
                overflow: auto;
                margin: 50px auto;
                width: 90%;
            }
            .paragraph {
                padding: 0 20px;
                display: inline-block;
                float: left;
                width: 50%;
            }
        }
    }
    .gudea-source-sans-pro-section {
        .gudea-source-sans-pro {
            width: 100%;
            display: table;
        }
        .gudea,
        .source-sans-pro {
            a {
                text-transform: uppercase;
            }
            font-size: 1.618em;
        }
        .gudea {
            width: 40%;
            display: table-cell;
            padding: 120px 50px;
            text-align: left;
            background-color: #9954FF;
            a {
                color: #6D30C7;
            }
        }
        .source-sans-pro {
            width: 60%;
            padding: 120px 50px;
            text-align: right;
            display: table-cell;
            background-color: #6D30C7;
            a {
                color: #9954ff;
            }
        }
    }
    .alegreya-section {
        background-color: #131319;
        .alegreya {
            a h1 {
                color: #fff;
                font-size: 4vw;
                text-align: center;
            }
        }
    }
    .droid-serif-section {
        background-color: #fff;
        .droid-serif {
            a {
                h1 {
                    font-size: 3.1415rem;
                    letter-spacing: 11px;
                    margin-bottom: 50px;
                    $color-span: #227F4F, #3CDE5B, #4FC73F, #86DE3C, #B6D439;
                    @each $current-color in $color-span {
                        $i: index($color-span, $current-color);
                        span:nth-child(#{$i}) {
                            color: $current-color;
                        }
                    }
                }
                h2 {
                    color: #B6D439;
                }
            }
        }
    }
    .lora-poly-section {
        background: linear-gradient(34deg, #9C7063 23%, #A90001 149%);
        .lora {
            a {
                h1 {
                    font-size: 9vw;
                    color: #662324;
                    letter-spacing: 50px;
                    word-break: break-all;
                    text-align: center;
                }
            }
        }
        .poly {
            a h1 {
                text-align: center;
                font-size: 10vw;
                color: #fff;
                text-transform: uppercase;
                $weight-span: bolder, 700, bold, 400;
                    @each $current-weight in $weight-span {
                        $i: index($weight-span, $current-weight);
                        span:nth-child(#{$i}) {
                            font-weight: $current-weight;
                        }
                    }
            }
            a h2 {
                text-align: center;
                font-size: 1,618em;
                color: #f6f7f8;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
    .glegoo-section {
        background: #8D5090;
        .glegoo {
            $opacity: 1 / 23;
            @for $i from 1 through 23 {
                span:nth-child(#{$i}) {
                    opacity: $opacity * $i;
                }
            }
            h1 {
                font-size: 3.141591em;
            }
            h1,
            h2 {
                color: #F6C5C9;
            }
        }
    }
    .noticia-text-section {
        background: #f9f9f9;
        a {
            color: #242D52;
            h1 {
                font-size: 3.1415em;
                
            }
        }
    }
    .rokkitt-section {
        background-color: #EAEAEA;
        text-transform: uppercase;
        .rokkitt {
            a {
                text-align: center;
                color: #383838;
                font-weight: lighter;
                h2 {
                    font-size: 7vw;
                    font-weight: 800;
                }
                h3 {
                    font-size: 1.4vw;
                }
                .font-size-author {
                    font-size: 2.5vw;
                    font-weight: 800;
                }
                h4 {
                    font-size: 1.2vw;
                }
                .spacing {
                    margin-bottom: 5%;
                }
                .double-spacing {
                    margin-bottom: 12%;
                }
            }
            
        }
    }
    
}
