/* line 1, ../sass/components/_foundation.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/components/_foundation.scss */
html,
body {
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/components/_foundation.scss */
body h1,
body h2,
body h3,
body h4,
body h5 {
  margin: 0;
}

/* line 21, ../sass/components/_foundation.scss */
.text-right {
  text-align: right;
}

/* line 25, ../sass/components/_foundation.scss */
.weight700 {
  font-weight: 700;
}

/* line 29, ../sass/components/_foundation.scss */
a {
  text-decoration: none;
}

/* line 33, ../sass/components/_foundation.scss */
ul li {
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  /* line 39, ../sass/components/_foundation.scss */
  #title h1 {
    font-size: 50px !important;
  }
  /* line 42, ../sass/components/_foundation.scss */
  #title .intro p {
    width: 88% !important;
  }

  /* line 47, ../sass/components/_foundation.scss */
  .section {
    width: 95% !important;
  }

  /* line 53, ../sass/components/_foundation.scss */
  #list .gudea-source-sans-pro-section .gudea {
    display: block !important;
    width: 100% !important;
  }
  /* line 57, ../sass/components/_foundation.scss */
  #list .gudea-source-sans-pro-section .source-sans-pro {
    display: block !important;
    width: 100% !important;
  }
}
/* line 2, ../sass/components/_google-fonts.scss */
.abel {
  font-family: 'Abel', sans-serif;
}

/* line 6, ../sass/components/_google-fonts.scss */
.amaranth {
  font-family: 'Amaranth', sans-serif;
}

/* line 10, ../sass/components/_google-fonts.scss */
.armata {
  font-family: 'Armata', sans-serif;
}

/* line 14, ../sass/components/_google-fonts.scss */
.asap {
  font-family: 'Asap', sans-serif;
}

/* line 18, ../sass/components/_google-fonts.scss */
.cabin {
  font-family: 'Cabin', sans-serif;
}

/* line 22, ../sass/components/_google-fonts.scss */
.dosis {
  font-family: 'Dosis', sans-serif;
}

/* line 26, ../sass/components/_google-fonts.scss */
.droid-sans {
  font-family: 'Droid Sans', sans-serif;
}

/* line 30, ../sass/components/_google-fonts.scss */
.ropa-sans {
  font-family: 'Ropa Sans', sans-serif;
}

/* line 34, ../sass/components/_google-fonts.scss */
.source-sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 38, ../sass/components/_google-fonts.scss */
.gudea {
  font-family: 'Gudea', sans-serif;
}

/* line 42, ../sass/components/_google-fonts.scss */
.alegreya {
  font-family: 'Alegreya', serif;
}

/* line 46, ../sass/components/_google-fonts.scss */
.droid-serif {
  font-family: 'Droid Serif', serif;
}

/* line 50, ../sass/components/_google-fonts.scss */
.lora {
  font-family: 'Lora', serif;
}

/* line 54, ../sass/components/_google-fonts.scss */
.glegoo {
  font-family: 'Glegoo', serif;
}

/* line 58, ../sass/components/_google-fonts.scss */
.noticia-text {
  font-family: 'Noticia Text', serif;
}

/* line 62, ../sass/components/_google-fonts.scss */
.poly {
  font-family: 'Poly', serif;
}

/* line 66, ../sass/components/_google-fonts.scss */
.rokkitt {
  font-family: 'Rokkitt', serif;
}

/* line 1, ../sass/components/_title-footer.scss */
#title {
  padding: 125px 0 250px 0;
}
/* line 3, ../sass/components/_title-footer.scss */
#title h1 {
  font-size: 8vw;
}
/* line 6, ../sass/components/_title-footer.scss */
#title a {
  color: #a90001;
  transition: all 0.5s ease;
}
/* line 9, ../sass/components/_title-footer.scss */
#title a:hover {
  color: #662324;
}
/* line 13, ../sass/components/_title-footer.scss */
#title .intro p {
  width: 62%;
}
/* line 16, ../sass/components/_title-footer.scss */
#title .intro ul {
  text-align: right;
}
/* line 19, ../sass/components/_title-footer.scss */
#title li {
  margin: 8px 0;
}
/* line 21, ../sass/components/_title-footer.scss */
#title li a {
  color: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 200;
  transition: all 0.5s ease;
}
/* line 27, ../sass/components/_title-footer.scss */
#title li a:hover {
  color: #662324;
}

/* line 34, ../sass/components/_title-footer.scss */
.footer {
  background-color: #242d52;
  padding: 20px 70px;
}
/* line 37, ../sass/components/_title-footer.scss */
.footer h1 {
  font-size: 18px;
  color: #fff;
}
/* line 40, ../sass/components/_title-footer.scss */
.footer h1 a {
  color: #d6e1e5;
}

/* line 1, ../sass/components/_lists.scss */
.section {
  margin: 0 auto;
  padding: 250px 0 250px 0;
  width: 66%;
}

/* line 8, ../sass/components/_lists.scss */
#list .abel-section {
  background-color: #0D4E85;
  height: 110vh;
}
/* line 11, ../sass/components/_lists.scss */
#list .abel-section .abel {
  color: #f6f7f8;
}
/* line 13, ../sass/components/_lists.scss */
#list .abel-section .abel a {
  color: #f6f7f8;
  font-size: 11.3vw;
  text-transform: uppercase;
}
/* line 20, ../sass/components/_lists.scss */
#list .amaranth-section {
  background-color: #f8f8f8;
  height: 110vh;
}
/* line 24, ../sass/components/_lists.scss */
#list .amaranth-section .amaranth a {
  color: #6B6A6A;
  font-size: 3vw;
  font-weight: 700;
  text-transform: capitalize;
}
/* line 30, ../sass/components/_lists.scss */
#list .amaranth-section .amaranth h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
}
/* line 35, ../sass/components/_lists.scss */
#list .amaranth-section .amaranth p {
  font-size: 14px;
  font-weight: 400;
}
/* line 38, ../sass/components/_lists.scss */
#list .amaranth-section .amaranth p span {
  font-weight: 700;
}
/* line 44, ../sass/components/_lists.scss */
#list .armata-section {
  background-color: floralwhite;
}
/* line 46, ../sass/components/_lists.scss */
#list .armata-section .armata {
  text-align: justify;
}
/* line 48, ../sass/components/_lists.scss */
#list .armata-section .armata a {
  color: inherit;
}
/* line 51, ../sass/components/_lists.scss */
#list .armata-section .armata h2 {
  color: #363535;
  font-size: 3vw;
  text-transform: uppercase;
}
/* line 56, ../sass/components/_lists.scss */
#list .armata-section .armata div {
  width: 65%;
  border: 1px solid black;
}
/* line 60, ../sass/components/_lists.scss */
#list .armata-section .armata strong {
  color: black;
}
/* line 65, ../sass/components/_lists.scss */
#list .asap-cabin-section {
  background: linear-gradient(90deg, #483d8b, #ff6347);
}
/* line 67, ../sass/components/_lists.scss */
#list .asap-cabin-section .asap h1,
#list .asap-cabin-section .cabin h1 {
  font-size: 11vw;
  color: #fff;
  font-weight: 400;
}
/* line 73, ../sass/components/_lists.scss */
#list .asap-cabin-section .info {
  font-size: 12px;
  color: #f8f8f8;
}
/* line 78, ../sass/components/_lists.scss */
#list .dosis-section {
  background-color: #fff;
  min-height: 105vh;
}
/* line 82, ../sass/components/_lists.scss */
#list .dosis-section .dosis h1,
#list .dosis-section .dosis h2 {
  text-transform: uppercase;
  color: deepskyblue;
  font-size: 10vw;
  letter-spacing: 10px;
  font-weight: 100;
}
/* line 92, ../sass/components/_lists.scss */
#list .dosis-sans-section {
  background-color: deepskyblue;
  min-height: 105vh;
}
/* line 96, ../sass/components/_lists.scss */
#list .dosis-sans-section .dosis-sans a {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 10px;
}
/* line 100, ../sass/components/_lists.scss */
#list .dosis-sans-section .dosis-sans a h1 {
  font-size: 10vw;
}
/* line 103, ../sass/components/_lists.scss */
#list .dosis-sans-section .dosis-sans a h2 {
  font-size: 8vw;
}
/* line 109, ../sass/components/_lists.scss */
#list .ropa-sans-section {
  background-color: #fff;
  min-height: 105vh;
}
/* line 112, ../sass/components/_lists.scss */
#list .ropa-sans-section .ropa-sans {
  padding: 120px 0 120px 0;
}
/* line 114, ../sass/components/_lists.scss */
#list .ropa-sans-section .ropa-sans a {
  color: #5D607F;
}
/* line 116, ../sass/components/_lists.scss */
#list .ropa-sans-section .ropa-sans a h2 {
  text-align: center;
  font-size: 10vw;
}
/* line 120, ../sass/components/_lists.scss */
#list .ropa-sans-section .ropa-sans a h4 {
  text-align: center;
  font-size: 5vw;
}
/* line 123, ../sass/components/_lists.scss */
#list .ropa-sans-section .ropa-sans a h4:before {
  margin-top: 3%;
  margin-left: -19%;
  position: absolute;
  content: " ";
  height: 1px;
  width: 18%;
  background-color: #D6E1E5;
}
/* line 132, ../sass/components/_lists.scss */
#list .ropa-sans-section .ropa-sans a h4:after {
  position: absolute;
  content: " ";
  height: 1px;
  width: 18%;
  margin-top: 3%;
  margin-left: 10px;
  background-color: #D6E1E5;
}
/* line 143, ../sass/components/_lists.scss */
#list .ropa-sans-section .ropa-sans .section-text {
  overflow: auto;
  margin: 50px auto;
  width: 90%;
}
/* line 148, ../sass/components/_lists.scss */
#list .ropa-sans-section .ropa-sans .paragraph {
  padding: 0 20px;
  display: inline-block;
  float: left;
  width: 50%;
}
/* line 157, ../sass/components/_lists.scss */
#list .gudea-source-sans-pro-section .gudea-source-sans-pro {
  width: 100%;
  display: table;
}
/* line 161, ../sass/components/_lists.scss */
#list .gudea-source-sans-pro-section .gudea,
#list .gudea-source-sans-pro-section .source-sans-pro {
  font-size: 1.618em;
}
/* line 163, ../sass/components/_lists.scss */
#list .gudea-source-sans-pro-section .gudea a,
#list .gudea-source-sans-pro-section .source-sans-pro a {
  text-transform: uppercase;
}
/* line 168, ../sass/components/_lists.scss */
#list .gudea-source-sans-pro-section .gudea {
  width: 40%;
  display: table-cell;
  padding: 120px 50px;
  text-align: left;
  background-color: #9954FF;
}
/* line 174, ../sass/components/_lists.scss */
#list .gudea-source-sans-pro-section .gudea a {
  color: #6D30C7;
}
/* line 178, ../sass/components/_lists.scss */
#list .gudea-source-sans-pro-section .source-sans-pro {
  width: 60%;
  padding: 120px 50px;
  text-align: right;
  display: table-cell;
  background-color: #6D30C7;
}
/* line 184, ../sass/components/_lists.scss */
#list .gudea-source-sans-pro-section .source-sans-pro a {
  color: #9954ff;
}
/* line 189, ../sass/components/_lists.scss */
#list .alegreya-section {
  background-color: #131319;
}
/* line 192, ../sass/components/_lists.scss */
#list .alegreya-section .alegreya a h1 {
  color: #fff;
  font-size: 4vw;
  text-align: center;
}
/* line 199, ../sass/components/_lists.scss */
#list .droid-serif-section {
  background-color: #fff;
  height: 105vh;
}
/* line 204, ../sass/components/_lists.scss */
#list .droid-serif-section .droid-serif a h1 {
  font-size: 3.1415rem;
  letter-spacing: 11px;
  margin-bottom: 50px;
}
/* line 211, ../sass/components/_lists.scss */
#list .droid-serif-section .droid-serif a h1 span:nth-child(1) {
  color: #227F4F;
}
/* line 211, ../sass/components/_lists.scss */
#list .droid-serif-section .droid-serif a h1 span:nth-child(2) {
  color: #3CDE5B;
}
/* line 211, ../sass/components/_lists.scss */
#list .droid-serif-section .droid-serif a h1 span:nth-child(3) {
  color: #4FC73F;
}
/* line 211, ../sass/components/_lists.scss */
#list .droid-serif-section .droid-serif a h1 span:nth-child(4) {
  color: #86DE3C;
}
/* line 211, ../sass/components/_lists.scss */
#list .droid-serif-section .droid-serif a h1 span:nth-child(5) {
  color: #B6D439;
}
/* line 216, ../sass/components/_lists.scss */
#list .droid-serif-section .droid-serif a h2 {
  color: #B6D439;
}
/* line 222, ../sass/components/_lists.scss */
#list .lora-poly-section {
  background: linear-gradient(34deg, #9C7063 23%, #A90001 149%);
}
/* line 226, ../sass/components/_lists.scss */
#list .lora-poly-section .lora a h1 {
  font-size: 9vw;
  color: #662324;
  letter-spacing: 50px;
  word-break: break-all;
  text-align: center;
}
/* line 236, ../sass/components/_lists.scss */
#list .lora-poly-section .poly a h1 {
  text-align: center;
  font-size: 10vw;
  color: #fff;
  text-transform: uppercase;
}
/* line 244, ../sass/components/_lists.scss */
#list .lora-poly-section .poly a h1 span:nth-child(1) {
  font-weight: bolder;
}
/* line 244, ../sass/components/_lists.scss */
#list .lora-poly-section .poly a h1 span:nth-child(2) {
  font-weight: 700;
}
/* line 244, ../sass/components/_lists.scss */
#list .lora-poly-section .poly a h1 span:nth-child(3) {
  font-weight: bold;
}
/* line 244, ../sass/components/_lists.scss */
#list .lora-poly-section .poly a h1 span:nth-child(4) {
  font-weight: 400;
}
/* line 249, ../sass/components/_lists.scss */
#list .lora-poly-section .poly a h2 {
  text-align: center;
  font-size: 1,618em;
  color: #f6f7f8;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 258, ../sass/components/_lists.scss */
#list .glegoo-section {
  background: #8D5090;
  min-height: 100vh;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(1) {
  opacity: 0.04348;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(2) {
  opacity: 0.08696;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(3) {
  opacity: 0.13043;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(4) {
  opacity: 0.17391;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(5) {
  opacity: 0.21739;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(6) {
  opacity: 0.26087;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(7) {
  opacity: 0.30435;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(8) {
  opacity: 0.34783;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(9) {
  opacity: 0.3913;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(10) {
  opacity: 0.43478;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(11) {
  opacity: 0.47826;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(12) {
  opacity: 0.52174;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(13) {
  opacity: 0.56522;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(14) {
  opacity: 0.6087;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(15) {
  opacity: 0.65217;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(16) {
  opacity: 0.69565;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(17) {
  opacity: 0.73913;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(18) {
  opacity: 0.78261;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(19) {
  opacity: 0.82609;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(20) {
  opacity: 0.86957;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(21) {
  opacity: 0.91304;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(22) {
  opacity: 0.95652;
}
/* line 264, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo span:nth-child(23) {
  opacity: 1;
}
/* line 268, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo h1 {
  font-size: 3.141591em;
}
/* line 271, ../sass/components/_lists.scss */
#list .glegoo-section .glegoo h1,
#list .glegoo-section .glegoo h2 {
  color: #F6C5C9;
}
/* line 277, ../sass/components/_lists.scss */
#list .noticia-text-section {
  background: #f9f9f9;
}
/* line 279, ../sass/components/_lists.scss */
#list .noticia-text-section a {
  color: #242D52;
}
/* line 281, ../sass/components/_lists.scss */
#list .noticia-text-section a h1 {
  font-size: 3.1415em;
}
/* line 287, ../sass/components/_lists.scss */
#list .rokkitt-section {
  height: 100vh;
  background-color: #fff;
}
/* line 291, ../sass/components/_lists.scss */
#list .rokkitt-section .rokkitt a {
  text-align: center;
  color: black;
}
/* line 294, ../sass/components/_lists.scss */
#list .rokkitt-section .rokkitt a h2 {
  margin-bottom: 42px;
  border-bottom: 1px solid black;
}
